<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 得到LoginAction的对象 -->
    <bean id="userLoginAction" class="com.sharebookssystem.bookUi.action.userLoginAction" >
        <property name="ud">
            <ref bean="userDaoY"></ref>
        </property>
    </bean>
    <bean id="userRegisterAction" class="com.sharebookssystem.bookUi.action.userRegisterAction" >
        <property name="ud">
            <ref bean="userDaoY"></ref>
        </property>
    </bean>
</beans>