<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="checkBookAction" class="com.sharebookssystem.bin.actions.CheckBookAction">
        <property name="bd">
            <ref bean="bookDao"></ref>
        </property>
    </bean>
    <bean id="getCheckBookAction" class="com.sharebookssystem.bin.actions.GetCheckBookAction">

    </bean>
    <bean id="addBookAction" class="com.sharebookssystem.bin.actions.AddBookAction">

    </bean>
    <bean id="ensureAddBookAction" class="com.sharebookssystem.bin.actions.EnsureAddBookAction" scope="prototype">
        <property name="bd">
            <ref bean="bookDao"></ref>
        </property>
    </bean>
    <bean id="showBookInfoAction" class="com.sharebookssystem.bin.actions.ShowBookInfoAction" scope="prototype">
        <property name="bd">
            <ref bean="bookDao"></ref>
        </property>
    </bean>
    <bean id="borrowBookAction" class="com.sharebookssystem.bin.actions.BorrowBookAction" scope="prototype">
        <property name="bd">
            <ref bean="bookDao"></ref>
        </property>
    </bean>
    <bean id="addBookToCarAction" class="com.sharebookssystem.bin.actions.AddBookToCarAction" scope="prototype">
        <property name="cd">
            <ref bean="carDao"></ref>
        </property>
    </bean>
    <bean id="showMyBorrowCarAction" class="com.sharebookssystem.bin.actions.ShowMyBorrowCarAction" scope="prototype">
        <property name="cd">
            <ref bean="carDao"></ref>
        </property>
    </bean>
    <bean id="deleteBookFromCarAction" class="com.sharebookssystem.bin.actions.DeleteBookFromCarAction" scope="prototype">
        <property name="cd">
            <ref bean="carDao"></ref>
        </property>
    </bean>
</beans>