<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- 管理员登陆 -->
    <bean id="bkLoginAction" class="com.sharebookssystem.bookManagement.controller.ManagerLoginAction" scope="prototype">
         <property name="service">
             <ref bean="managerServiceImpl"></ref>
         </property>
    </bean>

    <bean id="queryBookAction" class="com.sharebookssystem.bookManagement.controller.QueryBookAction" scope="prototype">
        <property name="service">
            <ref bean="managerServiceImpl"></ref>
        </property>
    </bean>

    <bean id="updateBookAction" class="com.sharebookssystem.bookManagement.controller.UpdateBookAction" scope="prototype">
        <property name="service">
            <ref bean = "managerServiceImpl"></ref>
        </property>
    </bean>

    <bean id="deleteBookAction" class="com.sharebookssystem.bookManagement.controller.DeleteBook" scope="prototype">
        <property name="service">
            <ref bean = "managerServiceImpl"></ref>
        </property>
    </bean>
</beans>