<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <!-- managerService -->

    <bean id="managerServiceImpl" class="com.sharebookssystem.bookManagement.service.impl.BookManagementServiceImpl" scope="prototype">
        <property name="dao">
            <ref bean="managerDaoImpl"></ref>
        </property>
    </bean>

    <!-- managerDao -->
    <bean id="managerDaoImpl" class="com.sharebookssystem.bookManagement.dao.hibernate.BookManagementDaoImpl" scope="prototype">
        <property name="sessionFactory">
            <ref bean="sessionFactory"></ref>
        </property>
    </bean>

</beans>