/*导航条和底部的CSS*/
*{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
	width: 100%;
}
body{
	text-align:center;	
	
	
}
a{
	text-decoration:none;
}
#naver{
	top:0;
	margin:0;
	left: 0;
	height:80px;
	background: rgba(255,255,255,0.4);
	position: fixed;
	width: 100%;
	z-index: 50;
}
#flex_naver{
	margin: 0;
	top:0;
	display: flex;
	position: relative;
	flex-direction: row;
	height: 80px;
	justify-content: flex-end;
	align-items: center;	
	margin-right: 100px;
}
.nr{

	width: 80px;
	text-align: center;
	margin-left: 30px;
	list-style-type:none;
}
/*#nr_selected{
	border:2px solid;
	border-radius:25px;
}*/
.nr a{
	text-decoration:none;
	color: black;
	font-size: 14px;
}
#logo_text{
	margin: 0;
	top:0;
	float: left;
	position: relative;
	height: 60px;
	margin-top: 10px;
}
#logo_text span{
	font-size: 40px;
	line-height: 60px;
}
#naver img{
		margin: 0;
	top:0;
	float: left;
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	height: 60px;
	width: 60px;
}

#foot{
	
		margin: 0 auto;
	top: 0;
	padding: 0;
	margin-top: 30px;
	width: 80%;
	height: 270px;
	
}
#foot_title{
	font-size: 20px;
	float: left;
	margin-bottom: 20px;
}

#foot hr{
	width: 100%;
	margin:0 auto;margin-bottom: 40px;
	opacity: 0.3;

}
#foot_main{
	float: right;
	
}
.foot_txt{
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	text-align: left;
		font-family: "宋体";
}
.foot_txt img{
	margin: 0;
	top: 5px;
	position: relative;

}
#foot_main_title{
	font-size: 15px;
	margin-bottom: 20px;
	text-align: left;
}
#btn_gp{
	display: flex;

	flex-direction: row;
}
.modal-dialog {
	margin: 40% auto;
}
.checkbox{
	left: 40px;
}
#fg_w{
	display: flex;
	flex-direction: row;
}