#container{
		margin: 0;
	top: 0;
	padding: 0;
	width: 100%;
	height: 240%;

}
#container_in{
	margin: 0;
	top: 0;
	padding: 0;
	width: 100%;
	height:50%;
}
#in_img{
	margin: 0;
	top: 0;
	padding: 0;

	width: 100%;
	height: 65%;
}

#container_in img{
	height: 100%;
	width: 100%;
}
#container_in_txt{
	width: 80%;
	height: 25%;
	margin: 0 auto;	
}
#container_in_txt h1{
margin-top: 3%;	
float: left;
margin-bottom: 1.5%;
}
.clear{
	clear: both;
}
#container_in_txt hr{
	margin-bottom: 6%;
}
#container_in_txt p{
	text-indent: 30px;
	text-align: left;
	font-family: 宋体;
	font-size: 20px;
}
#container_his{
	height: 50%;
	width: 80%;
	margin: 0 auto;	
}
#container_his h1{
margin-top: 3%;	
float: left;
margin-bottom: 1.5%;
}
#his_sp{
	margin: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#container_his hr{
	margin-bottom: 6%;
}
.sp_same{
	height: 13%;
	font-size: 20px;
}
.sp_same img{
	float: left;
	margin-right: 20px;
}
#container_his span{
	
	
	color:dimgray;
}
#container_his p{
	
	text-align: left;
}



