#container_books{
    margin: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}
#home_title{
    margin-top: 6%;
    width: 100%;
    height: 10%;
}
.main_center{
    margin-top: 6%;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.books_info{
    width: 30%;
    height: 100%;
}
