#top{
    width: 100%;
    height: 50px;
    position: fixed;
}
#loginMessage{
    display: flex;
    flex-direction: row;
}

#loginMessage span{
    margin-left: 1720px;
    margin-top: 11px;
    z-index: 12;
}

#loginMessage a{
    margin-left: 27px;
    margin-top: 10px;
}
