#title{
   margin: 0 auto;
   text-align:center;
   position: relative;
   top: 100px;
}

#main{
   position:relative;
   top:200px;
   left:410px;
}

#email{
   width: 280px;
}

#password{
   width: 280px;
}

#login{
   position: relative;
   left: 220px;
   top: 20px;
}


