body {
    margin: 0;
}

#left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 17%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;

}

#left li{

}

#left li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#left li a:hover:not(.active) {
    background-color: #555;
    color: white;
}