#main{
    position: fixed;
    width: 80%;
    height: 100%;
    margin-top: 117px;
    margin-left: 317px;
}

#left{
    width: 20%;
    height: 100%;
    margin-top: 49px;
}

#all{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top:0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#top{
    position: fixed;
    z-index: 11;
}

#main_title{
    width: 290px;
    height: 50px;
    margin-left: 630px;
}

#queryBook_main{
    margin-top: 91px;
    margin-left: 670px;
}

#re{
    margin-left: 25px;
    margin-top: 19px;
}