#main{
    position: fixed;
    width: 80%;
    height: 100%;
    margin-top: 165px;
    margin-left: 733px;
}

#left{
    width: 20%;
    height: 100%;
    margin-top: 49px;
}

#all{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top:0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#top{
    position: fixed;
    z-index: 11;
}

#queryManagerInfo_title{
    margin-left: 50px;
}

#mainInfo{
    margin-left: 218px;
}

#queryManagerInfo_main{
    margin-left: 10px;
    margin-top: 52px;
}

#male{
    margin-left: 84px;
}

#female{
    margin-left: 10px;
}

#operator{
    margin-left: 10px;
}
#manager{
    margin-left: 70px;
}

#update{
    margin-left: 10px;
}

#back{
    margin-left: 17px;
}

#checkTwo{
    margin-left: 80px;
    margin-top: 12px;
}

.queryError{
    margin-left: 105px;
}
