<component name="libraryTable">
  <library name="spring4.3">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../共享图书jar包/spring4.3.2" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../共享图书jar包/spring4.3.2" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/../共享图书jar包/spring4.3.2" recursive="false" />
    <jarDirectory url="file://$PROJECT_DIR$/../共享图书jar包/spring4.3.2" recursive="false" type="SOURCES" />
  </library>
</component>