.toBook{
    color: #000;
}
.mycard{
    width: 990px;
    height: 232px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    flex-direction: row;
    display: flex;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, #a6a6a6, white);
    border-image-slice: 10;
    /* border: 1px solid #a6a6a6; */
    border-bottom: white;

}
.bookImg{
    width: 144px;
    height: 192px;
    display: inline;
    float: left;
    /*position: relative;*/
    overflow: hidden;

}
.bookImg img{
    box-shadow: 0 1px 6px rgba(0,0,0,.35), 0 0 5px #f9f2e9 inset;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline;
    padding: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.bookImg img:hover{
    transform: scale(1.1);
    overflow: hidden;
}

.bookInfo{
    position: relative;
    /*float: left;*/
    width: 560px;
    display: flex;
    flex-direction: column;
    left:20px;
    align-content: center;
    /*margin-top: 20px;*/
}
.bookInfo p{
    margin-bottom: 13px;
}
.bookTodo{
    width: 560px;
    /*height:36px;*/

}
.bookName{
    /* align-self: center; */
    /*display: flex;*/
    /*flex-direction: row;*/
    /*float: left;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    width: 641px;
    height: 38px;
    /* padding-bottom: 5; */
}
.bookName em{
    display: block;
    /* height: 37px; */
    /* float: left; */
    font: 700 28px/38px PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
    float: left;
}
.bookName span{
    display: inline-block;
    margin-left: 17px;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    /* position: relative; */
    /* margin: 20px; */
    /*position: relative;*/
    /*margin : 20px;*/
}
/*.bookName h2{*/
/*!*display: inline-block;*!*/
/*!*height:30px ;*!*/
/*float: left;*/
/*text-align: center;*/

/*}*/
/*.bookName p{*/
/*float: left;*/
/*text-align: center;*/
/*line-height: 20px;*/
/*}*/

.borrowBook{
    display: inline-block;
    border: 1px solid #bf2c24;
    text-align: center;
    background:#bf2c24;
    width: 120px;
    height: 34px;
    color: #fff;
    vertical-align: middle;
    font-size: 14px;
    /*text-align: center;*/
    line-height: 28px;
    margin-right:20px;
}
.borrowBook:hover{
    color: #fff;
    border-color: #ed4259;
    background:#ed4259;
    text-decoration: none;
}
.addInCar{
    display: inline-block;
    border:1px solid #3f5a93;
    color: #3f5a93;
    text-align: center;
    width: 120px;
    height: 34px;
    text-decoration: none;
    vertical-align: middle;
    font-size: 14px;
    line-height: 28px;
    margin-right: 20px;
}
.addInCar:hover{
    color: #2972cc;
    border-color: #2972cc;
    background:#f0f5ff;
    text-decoration: none;
}
.bookCommentSide{
    margin-left: 139px;
    margin-top: 30px;
}
.number{
    font: 400 32px/38px FZZCYSK;
    text-align: center;
}
/*.myPage{*/
/*border: 0px;*/
/*}*/
/*.myPage li{*/
/*border: 0px;*/
/*}*/